python~=3.9.12
descriptastorus==2.6.0
dgllife==0.3.2
numpy==1.23.3
pandas==1.5.3
rdkit==2022.9.4
regex==2022.7.9
scikit_learn==1.2.2
scipy==1.9.3
torch==1.12.1+cu116
tqdm==4.64.1
transformers==4.11.3
